* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: 1.4;
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
}

/* template -> header */

.container {
    width: 1440px;
    max-width: 100%;
    background: #fff;
    overflow: hidden;
    margin: auto;
}

.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1110px;
    margin: auto;
}

.logo-header img {
    max-width: 100%;
    height: auto;
}

.logo-header {
    max-width: 170px;
    max-height: 170px;
}

.titre-header {
    width: 55%;
    align-self: center;
}

header h1 {
    margin: 0;
    font-size: 30px;
    color: #d90b34;
    text-transform: uppercase;
    font-family: Tondu, sans-serif;
    font-weight: 500;
}

header h1 a {
    color: #d90b34;
    text-decoration: none;
}

header .blog-tagline {
    font-size: 16px;
    margin: 16px 0px;
}

.recherche-header {
    display: block;
    align-self: center;
}

.recherche-header span {
    font-size: 0;
}

.recherche-header input.search-field {
    border: 0.5px solid transparent;
    border-top: none;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0.5px 0.5px 1.5px 0.5px rgba(0, 0, 0, .39);
    padding: 10px;
}

.recherche-header button[type=submit] {
    background: #fff;
    padding: 10px;
    border: none;
    font-size: 22px;
    color: #222;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1110px) {
    .banner,
    .container {
        display: flex;
        flex-direction: row;
    }
    .top-header {
        width: 100%;
        justify-content: flex-start;
    }
    .logo-header {
        max-width: 140px;
        max-height: 140px;
    }
    .titre-header {
        margin-left: 20px;
    }
    .recherche-header {
        height: 46px;
        display: none;
        background: #f5f5f5;
    }
    .recherche-header input {
        margin-top: 8px;
        width: 80%;
        background: #f5f5f5;
    }
    .recherche-header button[type=submit] {
        position: absolute;
        right: 0;
        background: #f5f5f5;
    }
}

@media screen  and (max-width: 480px) {
    .logo-header {
        max-width: 120px;
        max-height: 120px;
    }
}

@media screen  and (max-width: 340px) {
    .logo-header {
        max-width: 60px;
        max-height: 60px;
    }
}

/* template -> nav */

.top-nav {
    background-color: #f5f5f5;
    z-index: 120;
}

.top-nav .menu-principal {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.top-nav .menu-principal a {
    text-transform: uppercase;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #222;
    display: block;
    font-weight: bold;
}

ul {
    box-sizing: border-box;
}

@media screen and (max-width: 1110px) {
    .top-nav {
        display: none;
    }
}